/node_modules
/public/hot
/public/storage/framework
/public/storage/log
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/js
/public/client
/public/dist
/public/plugins
/public/storage
